@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 141px;
    width: 100vw;
    max-width: 100vw;
    height: 102px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 2.4rem;
  transition: all 2ms linear 0s;
}

nav ul li a:hover {
  color:#DF1CC5;
} 

header .container {
  background: transparent radial-gradient(closest-side at 95% 76%, #FE1390 0%, #df1cc5 100%) 0% 0% no-repeat padding-box;
}

header .container .title {
  position: relative;
  top: 186px;
  left: 141px;
  width: 762px;
  height: 75px;
  
  text-shadow: 0px 3px 6px #00000029;
  text-align: left;
  letter-spacing: 0px;
  font: normal normal 800 64px/64px 'Open Sans';
  text-transform: uppercase;
  color: #fff;
}

header .btn-header {
  position: relative;
  top: 361px;
  left: 141px;
  width: 250px;
  height: 63px;
  
  border: 3px solid #FFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

header .container .img-banner {
  background-image: url(assets/banner.png);
  position: relative;
  left: 690px;
  height: 500px;
  width: 750px;
}

section div.lorenIpsum {
  position: relative;
}

section .img-notebook {
  background-image: url(assets/notebook.png);
  position: relative;
  left: 0px;
  top: 75px;
  width: 749px;
  height: 500px;
}

section  .title-about {
  position: relative;
  top: 75px;
  left: 735px;
  width: 564px;
  height: 113px;

  color: #000000de;
  text-align: left;
  font: italic normal 600 48px/48px 'Open Sans';
  text-transform: uppercase;
}

section .text-about {
  position: relative;
  top: 84px;
  left: 735px;
  width: 564px;
  height: 70px;

  font: normal normal normal 16px/24px 'Open Sans';
  text-align: left;
  color: #00000094;
  letter-spacing: 0px;
}

section ul li {
  position: relative;
  top: 104px;
  left: 766px;
  width: 548px;
  height: 22px;

  color: #00000094;
  text-align: left;
  font: normal normal normal 16px/24px 'Open Sans';
  letter-spacing: 0px;
}

section .btn-about {
  position: relative;
  top: 130px;
  left: 735px;
  width: 300px;
  height: 63px;
  
  border: 1px solid #DF1CC5;
  font: normal normal normal 18px/30px 'PT Sans';
  letter-spacing: 1.8px;
  color: #DF1CC5;
  background-color: transparent;
  cursor: pointer;
}

section .phasellus {
  background: #F5F5F5 0% 0% no-repeat padding-box;
  position: relative;
  top: 140px;
  left: 0px;
  width: 100vw;
  height: 650px;
}

section .phasellus .title-phasellus {
  position: relative;
  top: 86px;
  left: 438px;
  width: 564px;
  height: 65px;

  color: #000000de;
  text-align: left;
  font: italic normal 600 48px/48px 'Open Sans';
  text-transform: uppercase;
}

section .phasellus .text-phasellus {
  position: relative;
  top: 94px;
  left: 418px;
  width: 564px;
  height: 70px;

  text-align: center;
  font: normal normal normal 16px/24px 'Open Sans';
  letter-spacing: 0px;
  color: #00000094;
}

section .phasellus .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
  margin: auto;
}

section .phasellus .cards .card {
  width: 256px;
  height: 256px;
  
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #FE13900F;
  border-radius: 16px;
}